@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap');

:root{
/* Concernant l'entete */
    --BodyColor: #FFFFFF;
    --headerColor:  #0F172A;
    --mainHeadlineSize: 7.2rem;
    --buttonHead: #0F172A;
    --buttonColor:  #BE123C;
    --textWoketyamo: 5.2rem;
    --navBarheidth: 9.6rem;
    --navBarpadding: 2.4rem, 8rem, 2.4rem, 8rem;
    --raduisButton: .5rem;
/* proprietes de la section apres l'entete */
    --primarySectionColor: #F1F5F9;
    --primarySectionPadding: 4.8rem, 8rem, 4.8rem, 8rem; 
    --primarySectionheight: 12.8rem;
/* proprietes de la section feature (PADDING DE 8rem a UTILISER SUR TOUT LES SECTIONS)*/
    --sectionFeaturePadding: 8rem; 
    --featureBoxheight: 35.4rem;
    --featureBoxwidth: 23.6rem;
    --featureBoxborder: .1rem;
    --featureBoxraduis: .5rem;
/* propriétes de la section "lates masterpieces" */
    --boxHeadlinewidth: 30rem;
    --boxHeadlineheight: 22rem;
    --boxHeadlineraduis: .4rem;
/* proprietes de la section "Best Solution for your ....." */
    --secondSection:  #475569;
/* police d'ecriture des grands titres */
    --titleHead: 'Roboto', sans serif ; 
/* proprietes de la dernier section */
    --sectionEnd: #0F172A;
/* Taille de tout les grands titre excepté celui de l'entete */
    --sizeTitle : 5.6rem

}
html{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* debut du css de la nav_bar */
header{
    background: var(--headerColor);
    color: var(--BodyColor);
    display: flex;
    font-family: var(--titleHead);
    justify-content: space-between;
    padding: 5rem 10rem;
}

header h1{
    margin: 0;
    font-size: var(--textWoketyamo);
    
}

.nav_bar a{
    color: var(--BodyColor);
    font-size: 3rem;
    text-decoration: none;
    margin-left: 3rem;
    
}

.nav_bar__button{
    background: transparent;
    border: .2rem solid #fff;
    border-radius: var(--raduisButton);
    color: var(--BodyColor);
    font-size: 2.5rem;
    height: 6rem;
    margin-left: 4rem;
    width: 15rem;
}

.nav_bar__button:hover{
    background: var(--BodyColor);
    color: var(--buttonHead);
    transition: .5s;
}
/* fin de la nav_bar */